@import models.Post
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import views.html.main
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import views.html.b3
@import views.html.helper
@import views.html.b3.vertical.fieldConstructor

@(user: models.User, post: Post)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main("Post", Some(user)) {
    <fieldset class="col-md-10 col-md-offset-1">
        <legend>@messages("post.detail")</legend>

        <div class="panel panel-default">
            <div class="panel-heading">@post.title</div>
            <div class="panel-body">
            @for(line <- post.content.split("\n")) { <p>@line</p>}
            </div>
        </div>

        <a href="@controllers.routes.PostController.list">Back</a>

        @b3.form(controllers.routes.PostController.deleteConfirmed(post.id)) {
            @helper.CSRF.formField
            @b3.submit('class -> "btn btn-danger") { Delete article }
        }
    </fieldset>
}